html, body {
  padding: 0; margin: 0;
}

body {
    font-family: "Lato", sans-serif;
    transition: background-color 2s ease;
}

#content-canvas{
  margin: 1cm;
}

/** Main menu**/
.main-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.main-nav ul li {
    display: inline;
    float: left;
}

.main-nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-menu {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -1000px;
  background-color: #111;
  overflow-x: hidden;
  transition: left 1s ease;
  padding-top: 60px;

  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;
}

.main-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.main-menu a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.main-menu .close-nav {
    top: 0;
    font-size: 36px;
}

.menu-link:hover {
  cursor: pointer;
}

.exit-nav {
  position: absolute;
  color: white;
  font-size: 2em;
  width: 90%;
  text-align: right;
  padding-right: 10px;
  padding-top: 10px;
  margin: 0;
}

.exit-nav:hover {
  cursor: pointer;
}

.side-menu-home {
  margin-top: 50px;
}

#map-container {
  position: relative;
}

#map-canvas {
  height: 70vh;
}

#map-location-permission {
  width: 100%;
  position: absolute;
  bottom: 20px;
  right: 30px;

  display: flex;
  display: -webkit-flex;

  justify-content: flex-end;
  -webkit-justify-content: flex-end;

  -webkit-align-items: center;
  align-items: center;
}

.btn {
  width: 100px;
  height: 40px;

  background: transparent;
  color: black;

  border: 2px solid black;
}

.btn:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.or {
  margin-left: 20px;
  margin-right: 20px;
}

.map-location-permission-input input {
  width: 50%;
}

@media screen and (max-width: 480px) {
  .main-menu {padding-top: 15px;}
  .main-menu a {font-size: 18px;}

  #map-location-permission {
    right: 0px;

    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-flex-direction: column;

    justify-content: center;
    -webkit-justify-content: center;

    -webkit-align-items: center;
    align-items: center;
  }

  .btn {
    width: 110px;
    height: 30px;
  }
  .map-location-permission-input {
    display: flex;
    display: -webkit-flex;

    flex-direction: column;
    -webkit-flex-direction: column;

    -webkit-align-items: center;
    align-items: center;
  }

  .map-location-permission-input input {
    width: 100px;
  }

  .or {
    margin: 5px;
  }
}
